{% extends 'layout.html.twig' %}

{% block content %}
	{# @todo display contact information in the message #}
	<main class="container">
		<h1>Thank you for your message!</h1>
		<p>
			Your message is being processed.
			<br>
			Our team will get back to you within 48 hours.
		</p>
		<p>
			Have a nice day and see you soon 🙂
		</p>
	</main>
{% endblock %}
